@font-face {
  font-family: 'CompromisLight';
  src: url('../../fonts/akkurat-light-webfont.eot');
  src:
    url('../../fonts/akkurat-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/akkurat-light-webfont.woff') format('woff'),
    url('../../fonts/akkurat-light-webfont.ttf') format('truetype'),
    url('../../fonts/akkurat-light-webfont.svg#AkkuratLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Compromis';
  src: url('../../fonts/akkurat-webfont.eot');
  src:
    url('../../fonts/akkurat-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/akkurat-webfont.woff') format('woff'),
    url('../../fonts/akkurat-webfont.ttf') format('truetype'),
    url('../../fonts/akkurat-webfont.svg#AkkuratRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CompromisBold';
  src: url('../../fonts/akkurat-bold-webfont.eot');
  src:
    url('../../fonts/akkurat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/akkurat-bold-webfont.woff') format('woff'),
    url('../../fonts/akkurat-bold-webfont.ttf') format('truetype'),
    url('../../fonts/akkurat-bold-webfont.svg#Akkurat-BoldRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
