@mixin compromis-gradient {
  background: linear-gradient(270deg, $gradient-from, $gradient-to);
}

@mixin animations($animation-name, $duration, $delay, $fill-mode) {
  -webkit-animation-name: $animation-name;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: $delay;
  -webkit-animation-fill-mode: $fill-mode;
  -moz-animation-name: $animation-name;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: ease-out;
  -moz-animation-delay: $delay;
  -moz-animation-fill-mode: $fill-mode;
  animation-name: $animation-name;
  animation-duration: $duration;
  animation-timing-function: ease-out;
  animation-delay: $delay;
  animation-fill-mode: $fill-mode;
}

body {
  font-family: 'CompromisLight', Helvetica, arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'CompromisBold', Helvetica, arial, sans-serif;
}
