/** Colors */
$brand-primary:         #eb641d;

$defaultFont: Compromis, Helvetica, arial, sans-serif;
$lightFont: CompromisLight, Helvetica, arial, sans-serif;
$boldFont: CompromisBold, Helvetica, arial, sans-serif;

$gradient-from: #d4432f;
$gradient-to: #e28333;
